body {
    background-color:antiquewhite;
}




#footer{
    background-color: #F5DEB3;
    text-align:center;
    padding-bottom:5px;
    font-size:20px;
}





.grid__item {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map {
    height: 425px;
    ;
}

html, body {
    height: 500px;
    margin: 0;
    padding: 0;

}



